// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#article{
  border-bottom: solid 5px #28a745;
}

.article{
  color: #28a745;
}

.article-btn{
  background-color: #28a745;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: #28a745;
    border-radius: 10px;
}