// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#article{
  border-bottom: solid 5px #28a745;
}

.article{
  color: #28a745;
}

.article-btn{
  background-color: #28a745;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-color: #28a745;
  border-radius: 10px;
}

.comment-btn{
  background-color: lightblue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-color: #28a745;
  border-radius: 10px;
}

.userradius{
  border-radius: 50%;
}

// ログインユーザーのコメント吹き出し
.odd {
  float: left;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #b0c4de;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.odd:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #b0c4de;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

// ログインユーザー以外のコメント吹き出し
.even {
  float: right;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #b0c4de;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.even:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #b0c4de;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}


.post_title{
  border-bottom: 2px solid blue;
}

#post_postimage{
  width: 300px;
}

#article-card{
  margin: 10px 5px;
}

.user {
  position: relative;
  padding: 1.5rem 1rem;
}

.user:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #FFCCCC, #FFCCCC 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #FFCCCC, #FFCCCC 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


@media screen and (max-width: 768px) {
  #article-card{
    margin: 10px auto;
  }
}

@media screen and (max-width: 375px) {
  #article-card{
    margin: 10px auto;
  }
}