// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user {
  border-bottom: solid 5px #FFCCCC;
}

.userimage{
  border: solid 2px black;
}

.user-btn{
  border-color: #FFCCCC;
}

th{
  border-bottom: solid 2px #FFCCCC;
}

#useredit{
    border-bottom: solid 5px #FF6699;
}

.useredit{
  color: #FF6699;
}

.useredit-btn{
    background-color: #FF6699;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: #FF6699;
    border-radius: 10px;
}