// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.userimage{
  border: solid 2px black;
}

.user-btn{
  border-color: #FFCCCC;
}

th{
  border-bottom: solid 2px #FFCCCC;
}

#useredit{
    border-bottom: solid 5px #FF6699;
}

.useredit{
  color: #FF6699;
}

#user_profile_image{
  width: 300px;
}

.useredit-btn{
    background-color: #FF6699;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: #FF6699;
    border-radius: 10px;
}

.quit{
  padding-top: 200px;
}

@media screen and (max-width: 768px) {
  #user-card{
    margin: 10px auto;
  }
}

@media screen and (max-width: 375px) {
  #user-card{
    margin: 10px auto;
  }
}
