<div class="wrapper">
  <div class="container mx-auto">
    <div class="row mx-auto">
      <div class="col-md-6 mx-auto about">
        <h1 class="pb-5 about"><i class="fa-solid fa-fish"></i> Fish LinKとは？</h1>
        <p class="h5 pb-2 about">釣りの釣果を投稿したり、</p>
        <p class="h5 pb-2 about">釣り道具のレビューを投稿するサイト。</p>
        <p class="h5 pb-2 about">釣りが好きな人、これから好きになる人が</p>
        <p class="h5 pb-2 about">このサイトを通じて趣味の輪を広げ、</p>
        <p class="h5 pb-2 about">情報交換をしながらみんなと繋がるサイトです。</p>
        <p class="h5 pb-2 about">釣りに必要な天気予報や風向き、風量なども見れるので</p>
        <p class="h5 about">どんどん活用してください<i class="fa-solid fa-music"></i></p>
      </div>
    </div>
  </div>
</div>
