<div class="container mx-auto">
  <div class="top">
    <span class="toptext">
      <h1 class="text-white pr-5">WE LIKE FISH.</h1>
      <p class="text-white pr-5">Let's enjoy fishing together!</p>
      </span>
  </div>
  <div class="main">
    <h3>〇釣りに行きたい日</h3>
  </div>
</div>
