<div class="wrapper">
  <div class="container mx-auto">
    <div class="top">
      <span>
        <h1>WE LIKE FISH.</h1>
        <p>Let's enjoy fishing together!</p>
      </span>
    </div>
    <div class="main">
      <h3>〇釣りに行きたい日</h3>
    </div>
  </div>
</div>
