<div class="container mx-auto">

  <%= render 'layouts/review_show', review: @review %>

  <div class="row my-5">
    <div class="col-md-10 mx-auto text-right">
      <%= link_to "Delete", admin_review_path(@review.id), method: :delete, class: "btn btn-outline-danger", "data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>
</div>