<% if !Favorite.exists?(user_id: current_user.id, post_id: @post.id) %>
  <%= link_to post_favorites_path(@post.id), method: :post, remote: true, class:"favorite-btn" do %>
    <i class="fa-regular fa-heart"></i>
  <% end %>
  <span class="heart-count1"><%= @post.favorites.count %></span>
<% else %>
  <%= link_to post_favorites_path(post_id: @post.id, id: @post.favorites[0].id), method: :delete, remote: true, class:"favorite-btn" do %>
    <i class="fa-solid fa-heart"></i>
  <% end %>
  <span class="heart-count2"><%= @post.favorites.count %></span>
<% end %>