<div class="container mx-auto">

  <%= render 'layouts/review_show', review: @review %>

  <% if @review.user == current_user %>
  <div class="row my-5">
    <div class="col-md-10 mx-auto text-right">
      <%= link_to "Delete", review_path(@review.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>
  <% end %>
</div>
