<div class="container">

  <%= render 'layouts/post_show', post: @post %>

  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3 text-right">
      <p><i class="fa-solid fa-comment-dots"></i> <%= @post.comments.count %></p>
      <%= link_to "Delete", admin_post_path(@post.id), method: :delete, class: "btn btn-outline-danger mb-5", "data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>
