/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*検索バーのCSS*/

.form-box{
	display: flex;
	border: 2px solid lightgrey;
	width: 200px;
	position: relative;
}

.form-box input{
	border: none;
	width: 100%;
}

.form-box button{
	background-color: white;
	border: none;
	align: right;
	position: absolute;
    top: 0;
    right: 0;
}
/*検索バーCSS終わり*/
// フォントの設定
@font-face {
  font-family: "Ronde";
  font-style: normal;
  src: asset_url('Ronde-B_square.otf');
}
// フォントの設定終わり

header{
    font-family: 'Ronde';
    background-color: lightblue;
}

#userlogin{
    border-bottom: solid 5px #66CCCC;
}
#usersignup{
    border-bottom: solid 5px #66CC99;
}

.userlogin{
    color: #66CCCC;
}

.usersignup{
    color: #66CC99;
}

.userlogin-btn{
    background-color: #66CCCC;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: #66CCCC;
    border-radius: 10px;
}

.usersignup-btn{
    background-color: #66CC99;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: #66CC99;
    border-radius: 10px;
}


.sex{
    padding-left: 50px;
    padding-right: 50px;
}

body {
    font-family: 'Ronde';
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper{
    background-image: url('nami_awa.jpg');
    background-size: cover;
    font-family: 'Ronde';
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 100px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
    background-color: lightblue;
    width: 100%;
    color: white;
    text-align: center;
    padding: 30px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}


.table > thead > tr > th{
    border-top:5px solid #FFCCCC;
    border-bottom:2px solid #FFCCCC;
}

.table th, td{
    border-top:5px solid #FFCCCC;
    border-bottom:2px solid #FFCCCC;
}

.flexbox{
  display: flex;
  flex-wrap: wrap;
}

.search-button{
    text-align: right;
}

@import "skippr";

#top{
  height: 500px;
}
.image1 {
  background-image: url(slide1.jpg);
}

.image2 {
  background-image: url(slide2.jpg);
}

.image3 {
  background-image: url(slide3.jpg);
}

.image4 {
  background-image: url(slide4.jpg);
}

@media screen and (max-width: 768px) {
  #top{
    width: 100%;
    background-position: right;
  }
  #weather {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
  }
}

@media screen and (max-width: 375px) {
  #top{
    width: 100%;
    background-size: cover;
    background-position: right;
  }
  #weather {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
    padding: 30px 0 30px 30px;
  }
}