<div class="container mx-auto">
  <h1>本当に退会しますか？</h1>
  <h5>
    退会すると、会員登録情報や<br>
    これまでの投稿が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </h5>
  
  <div class="text-center my-5">
    <%= link_to '退会しない', user_path(@user), class: 'btn btn-primary px-4'%>
    <span class="ml-3"><%= link_to "退会する", out_users_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger px-4" %></span>
  </div>
</div>